<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GNSS_CoordConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <GNSS_CoordConverter.Properties.Settings>
            <setting name="GM" serializeAs="String">
                <value>398600441800000</value>
            </setting>
            <setting name="Deltapsi" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Deltapsilo" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EopFile" serializeAs="String">
                <value>utpole.dat</value>
            </setting>
        </GNSS_CoordConverter.Properties.Settings>
    </userSettings>
</configuration>